body{
    background: #0F1320;
    color: #FFFFFF;
    width: 100%;
}
.homebody{
    width: 100%;
}
/*___top_______*/
.topWrap{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 9vw;
}
.topContent{
    width: 570px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 150px 0;
}
.topContent h5{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgba(0, 180, 236, 1);
    margin: 0 0 10px 0;
}
.topContent h2{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0 0 30px 0;
}
.topContent p{
    width: 530px;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #DDE2FF;
    opacity: 0.6;
    margin: 0 0 40px 0;
}
.topBtn{
    width: 147px;
    height: 48px;
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    border-radius: 52px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.topImg{
    width: calc(91vw - 570px);
    height: 980px;
    background: url(../img/promo-1@2x.png) no-repeat;
    background-position: right 70%;
    background-size: 70vw auto;
}
/*___for______*/
.blockFor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.forContent{
    height: auto;
    width: 40vw;
    background: #171B29;
    border-radius: 25px;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.forCreators{
    margin: 0 10px 95px 0;
}
.forHolders{
    margin: 95px 0 0 10px;
}
.forCreatorsImg{
    margin: 0 0 20px 0;
    width: 70px;
    height: 70px;
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    border-radius: 35px;
    background-image: url(../img/green_for.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 23px 23px;
}
.forHoldersImg{
    margin: 0 0 20px 0;
    width: 70px;
    height: 70px;
    background: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
    border-radius: 35px;
    background-image: url(../img/blue_for.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 23px 23px;
}
.forContent h3{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    margin: 0 0 20px 0;
}
.forcreatorsLinkHead{
    color: #22A75D;
    text-decoration: underline;	
}
.forholdersLinkHead{
    color: #2278D4;
    text-decoration: underline;	
}
.forContent p{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0 0 20px 0;
}
.forCreatorsLink{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #22A75D;
    margin: auto 0 0 0;
}

.forHoldersLink{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2278D4;
    margin: auto 0 0 0;
}
/*___what_______*/
.blockWhat{
    margin: 120px 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
}
.whatImg{
    height: auto;
    width: 50%;
    border-radius: 0px 400px 0px 0px;
    background-image: url(../img/block1-color@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.whatContent{
    height: auto;
    width: 50%;
    padding: 285px 12vw 115px 7.5vw;
    background: #FFFFFF;
    border-radius: 400px 0px 0px 0px;
    color: #0F1320;
}
.whatContent h3{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    margin: 15px 0;
}
.whatContent p{
    margin: 15px 0;
}
.whatBtext{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.6;
}
.whatText{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}
/*___q1234_______*/
.blockQ1234{
    background: #FFFFFF;
    width: 100%;
    height: auto;
}
.q1234Content{
    background: #0F1320;
    width: 100%;
    height: auto;
    border-radius: 0px 300px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 205px 9% 180px 9%;
}
.qContent{
    width: 24%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.qHead{
    display: flex;
    align-items: flex-end;
    margin: 0 0 35px 0;
}
.qColor{
    height: 82px;
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #0F1320;
    border-radius: 42px 42px 42px 20px;
}
.qColor::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: relative;
    right: -40px;
    border-radius: 6px;
}
.q1Color::after{
    background: #22A75D;
}
.q2Color::after{
    background: #2278D4;
}
.q3Color::after{
    background: #FFD100;
}
.q4Color::after{
    background: #E20613;
}
.q1Color{
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.q2Color{
    background: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}
.q3Color{
    background: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.q4Color{
    background: #E20613;
    box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}
.qYear{
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 10px
}
.qList{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;
}
.qList li{
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
.qList p{
    width: 100%;
}
.qList .qnumber{
    width: 40px;
    font-family: "Azo Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 34px;
    opacity: 1;
}
.q1number{
    color: #22A75D;
}
.q2number{
    color: #2278D4;
}
.q3number{
    color: #FFD100;
}
.q4number{
    color: #E20613;
}
/*___coming_______*/
.blockComing{
    background: #00B4EC;
    width: 100%;
    height: auto;
}
.comingRow{
    background: #0F1320;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 0px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 9% 210px 9%;
}
.comingContent{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.comingContent h3{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #FFFFFF;
    margin: 0 0 10px 77px;
}
.comingContent h3::before{
    content: "";
    display: block;
    width: 53px;
    height: 33px;
    position: relative;
    left: -75px;
    top: 45px;
    background: url(../img/logo-icon.svg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}
.comingContent p{
    margin: 10px 0;
}
.comingBtext{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #9FA1A6;
}
.comingtext{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}
.comingCrowntext{
    font-family: "Century Gothic";
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #9FA1A6;
}
.comingLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 147px;
    height: 48px;
    border: 2px solid #22A75D;
    box-sizing: border-box;
    border-radius: 52px;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.comingLinkHide{
    display: none;
}
.comingImg{
    width: 46vw;
    height: 86vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.comingBgnd{
    width: 80%;
    height: 95%;
    border-radius: 25px;
    background: #171B29;
}
.comingPhoto{
    width: 46vw;
    height: 86vh;
    background: url(../img/promo-2@2x.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    right: 1vw;
}
/*___presail_______*/
.blockPresail{
    width: 100%;
    height: auto;
    background: #0F1320;
    margin: 0 0 60px 0;
}
.presailContent{
    width: 100%;
    height: 100%;
    background: url(../img/block2-color@2x.png) no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 0 200px 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presailContent h3{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    margin: 140px 0 20px 0;
    position: relative;
    top: 40px;
}
.presailPhases{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.presailPhase1{
    position: relative;
    top: 40px;
}
.presailPhase2{
    position: relative;
    top: 60px;
}
.presailPhase3{
    position: relative;
    top: 40px;
}
.presailPhase{
    width: 27vw;
    max-width: 511px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 25px;
    margin: 0 10px;
}
.PhaseHead{
    width: 323px;
    height: 288px;
    box-sizing: border-box;
    margin: 57px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phase1head{
    background: url(../img/01.svg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}
.phase2head{
    background: url(../img/02.svg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}
.phase3head{
    background: url(../img/03.svg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}
.phaseColor{
    height: 82px;
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #0F1320;
    border-radius: 42px 42px 42px 20px;
    margin: 53px 0 0 0;
}
.phase1Color{
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.phase2Color{
    background: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}
.phase3Color{
    background: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.PhaseHead h4{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 54px;
    color: #191B21;
    margin: auto 0 0 0;
}
.PhaseHead p{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #191B21;
    opacity: 0.8;
    margin: 9px 0 7px 0;
}
.presailRates{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #191B21;
    opacity: 0.8;
    margin: 70px 0 0 0;
}
.presailSoft{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #191B21;
    opacity: 0.8;
    margin: 20px 0 0 0;
}
.presailHard{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #191B21;
    opacity: 0.8;
    margin: 10px 0 87px 0;
}
.presailDotted{
    display: none;
}
/*___buy_______*/
.buyrow{
    width: 100%;
    height: auto;
}
.blockBuy{
    width: 100%;
    height: auto;
}
.blockBuy h3{
    width: 100%;
    margin: 160px 0 0 0;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #F7F5F9;
}
.buyContent{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.buyStep{
    height: auto;
    width: 27vw;
    margin: 0 10px;
    background: #171B29;
    border-radius: 25px;
    padding: 88px 3.7vw 100px 3.7vw;
}
.buy02{
    position: relative;
    top: 60px;
}
.buy03{
    position: relative;
}
.buy02::before{
    content: "";
    display: block;
    width: 86px;
    height: 86px;
    background: #0F1320;
    background-image: url(../img/green-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px 24px;
    border-radius: 43px;
    position: absolute;
    left: -53px;
    top: 55px;
}
.buy03::before{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    background: #0F1320;
    background-image: url(../img/yellow-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 24px 24px;
    border-radius: 43px;
    position: absolute;
    left: -53px;
    top: 115px;
}
.buyNumber{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.3;
    position: relative;
    top: -65px;
    left: -2.2vw;
}
.buyText{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
/*___bot_______*/
.bottom{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 270px 21vw 0 21vw;
}
.bottom a{
    font-family: Century Gothic;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}