@media (max-width: 1024px) {
    .colorimg{
        display: none;
        }
    .blockAsymmetry{
        height: auto;
        width: 100;
        padding: 60px 20px;
        border-radius: 0 10vw 0 10vw;
        display: flex;
        flex-direction: column;
        background-image: url(../img/block2-color@2x.png);
        background-repeat: no-repeat;
        background-size: 100% 150%;
        background-position: 0 0;
        position: relative;
    }
    .asimmetryContentblock{
        height: auto;
        width: auto;
        min-width: auto;
        padding: 90px 20px;
        background: #FFFFFF;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asimmetryTop{
        position: relative;
        align-self: center;
        margin: 0px 0 0px 0;
    }
    .asimmetryBot{
        position: relative;
        align-self: center;
        margin: 40px 0px 0px 0;
    }
    .footer{
        width: 100%;
        height: 310px;
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

}
@media (max-width: 600px) {
    /*___pagetitle_______*/
    .pageTitle{
        width: 100%;
        height: auto;
        padding: 20px 20px 0 20px;
        margin: 0 0 20px 0;
    }
    .pageTitle h4{
        width: 100%;
        height: auto;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    /*___billion_______*/
    .block10Billion{
        width: 100%;
        height: auto;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .billion{
        margin: 14px 0 20px 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .billionHead{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .billionBillion{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 49.6296px;
        line-height: 50px;
        letter-spacing: -0.02em;
        color: #FFD100;
    }
    .billionFooter{
        align-self: flex-end;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    /*___color_______*/
    .blockColor{
        width: 100%;
        height: auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .colorbln{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .colorblnHead{
        align-self: flex-start;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .coloblnSum{
        align-self: flex-start;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -0.02em;
    }
    .colorblnFooter{
        align-self: flex-end;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
    .color3bln{
    align-self: flex-end;
    order: 1;
    }
    .color7bln{
        align-self: flex-start;
        order: 2;
    }
    .colorimg{
        display: block;
        order: 3;
        align-self: center;
        margin: 10px 0px;
        width: 100%;
        height: 50vw;
        border-radius: 50vw 50vw 5vw 5vw;
        background-image: url(../img/block1-color.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }
    /*___years_______*/
    .blockYears{
        margin: 60px 0 0 0;
        width: 100%;
        height: auto;
        background-color: #E20613;
    }
    .blockYearsContent{
        padding: 0px 20px 60px 20px;
        background: #0F1320;
        border-radius: 0 0 0 12vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .year{
        width: 163px;
        height: 137px;
        margin: 10px;
        padding: 25px 20px 16px 20px;
        background: #171B29;
        border-radius: 25px;
        position: relative;
    }
    .yearColor{
        margin: 0 0 0 32px;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 34px;
    }
    .yearColor::before{
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 11px 11px 11px 3px;
        position: absolute;
        left: 20px;
    }
    .yearDay{
        height: 22px;
        width: auto;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    .yearTokins{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        opacity: 0.7;
    }
    .yearBot{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        opacity: 0.7;
    }
    /*___asimmetry_______*/
    .blockAsymmetry{
        height: auto;
        width: 100;
        padding: 60px 20px;
        border-radius: 0 0vw 0 0vw;
        display: flex;
        flex-direction: column;
        background-image: url(../img/block2-color.png);
        background-repeat: no-repeat;
        background-size: 150% auto;
        background-position: 0 0;
        position: relative;
    }
    .asimmetryContentblock{
        height: auto;
        width: 100%;
        min-width: auto;
        padding: 33px 26px;
        background: #FFFFFF;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .asimmetryTop{
        position: relative;
        align-self: center;
        margin: 0px 0 0px 0;
    }
    .asimmetryBot{
        position: relative;
        align-self: center;
        margin: 20px 0 0px 0;
    }
    .asimHead{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #0F1320;
    }
    .asimBln{
        margin: 20px 0 0px 0;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 40.2963px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }
    .asimTokens{
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 54px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #0F1320;
    }
    .asimText{
        margin: 0px 0 0 0;
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }
    /*___bot_______*/
    .bottom{
        display: none;
    }    
}
