body{
    background: #0F1320;
    color: #FFFFFF;
    width: 100%;
}
.tokenomicsbody{
    width: 100%;
}
/*___pagetitle_______*/
.pageTitle{
    width: 100%;
    height: auto;
    padding: 50px 9vw 0 9vw;
}
.pageTitle h4{
    width: 400px;
    height: auto;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*___billion_______*/
.block10Billion{
    width: 100%;
    height: auto;
    padding: 0 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.billion{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.billionHead{
    align-self: flex-start;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.billionBillion{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    color: #FFD100;
}
.billionFooter{
    align-self: flex-end;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
/*___color_______*/
.blockColor{
    width: 100%;
    height: 21vw;
    padding: 0 9vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.colorbln{
    display: flex;
    flex-direction: column;
}
.colorblnHead{
    align-self: flex-start;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.coloblnSum{
    align-self: flex-start;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.02em;
}
.color3bln .coloblnSum{
    color: #2278D4;
}
.color7bln .coloblnSum{
    color: #E20613;
}
.colorblnFooter{
    align-self: flex-end;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.color3bln{
    align-self: flex-start;
}
.color7bln{
    align-self: center;
}
.colorimg{
    align-self: flex-start;
    margin: 0 50px;
    width: 40vw;
    height: 21vw;
    border-radius: 21vw 21vw 2vw 2vw;
    background-image: url(../img/block1-color@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}
/*___years_______*/
.blockYears{
    margin: 150px 0 0 0;
    width: 100%;
    height: auto;
    background-color: #00B4EC;
}
.blockYearsContent{
    padding: 0px 9vw 200px 9vw;
    background: #0F1320;
    border-radius: 0 0 0 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.year{
    width: 246px;
    height: 176px;
    margin: 10px;
    padding: 30px 20px 20px 60px;
    background: #171B29;
    border-radius: 25px;
    position: relative;
}
.yearColor{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
}
.yearColor::before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 11px 11px 11px 3px;
    position: absolute;
    left: 25px;
}
.yearGreen{
    color: #22A75D;
}
.yearGreen::before{
    content: "";
    background: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.yearYellow{
    color: #FFD100;
}
.yearYellow::before{
    content: "";
    background: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.yearBlue{
    color: #0F87CA;
}
.yearBlue::before{
    content: "";
    background: #0F87CA;
    box-shadow: 0px 15px 25px rgba(15, 135, 202, 0.25);
}
.yearRed{
    color: #E20613;
}
.yearRed::before{
    content: "";
    background: #E20613;
    box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}
.yearDay{
    height: 22px;
    width: auto;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.yearTokins{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
    color: #FFFFFF;
    opacity: 0.7;
}
.yearBot{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 8px;
    color: #FFFFFF;
    opacity: 0.7;
}
/*___asimmetry_______*/
.blockAsymmetry{
    height: auto;
    width: 100;
    padding: 0 9vw;
    border-radius: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    background-image: url(../img/block2-color@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.asimmetryContentblock{
    height: auto;
    width: auto;
    min-width: 700px;
    padding: 90px 10vw;
    background: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.asimmetryTop{
    position: relative;
    align-self: flex-end;
    margin: -70px 0 17px 0;
}
.asimmetryBot{
    position: relative;
    align-self: flex-start;
    margin: 17px 0 -70px 0;
}
.asimHead{
    max-width: 650px;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0F1320;
}
.asimBln{
    margin: 40px 0 0 0;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
}
.asimGreen{
    color: #19A255;
}
.asimYellow{
    color: #FFD100;
}
.asimTokens{
    align-self: flex-end;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #0F1320;
}
.asimText{
    margin: 20px 0 0 0;
    max-width: 650px;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}
/*___bot_______*/
.bottom{
    width: 100%;
    height: auto;
    background: #E20613;
}
.bottomContent{
    background: #0F1320;
    border-radius: 0 10vw 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 270px 21vw 0 21vw;
}
.bottom a{
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}